<section class="background img">
  <section class="backcolor">
    <div class="position-titre">
            <h1>Projet Stygeon</h1>
    </div> 
    
    <div class="blocktexte">Projet non commencé, Suite direct du projet SIMPLONIS réalisation probable sous angularV7 ( Prise en compte des choix réalisé durant le Story Teller SIMPLONIS ) </div>

    <div class="blocktexte">Début probable du projet Inconnue.

    </div>

    <div class="img">
        <div class="return" routerLink="../portfolio"> 
          <h1> Retour </h1> 
        </div>
    </div>
  </section>
  </section>