<section class="background">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <div class="img">
    <img src="../../assets/image/LogoPF.png" alt="">
    <div class="flex">
    <a href = "https://www.facebook.com/fabian.pruvot.1" target=_blank><i class="fab fa-facebook-f"></i></a>  
    <a href = "https://twitter.com/ReferentDigital" target=_blank ><i class="fab fa-twitter"></i></a>   
    <a href = "https://www.linkedin.com/in/fabian-pruvot-366901165/" target=_blank><i class="fab fa-linkedin-in"></i></a>
    <a href = "https://github.com/Pruvotfabian" target=_blank><i class="fab fa-github"></i></a>
    </div>
    
    <p>© Pruvot Fabian. Tous droits réservés. <a routerLink="../mention">Mention Légale</a></p>
  </div>
</section>