<section class="background img">
    <section class="backcolor">
      <div class="position-titre">
              <h1>Projet Arcturus</h1>
      </div> 
      <div class="img">
        <img   src="../../../assets/image/ProjetArcturus2.jpeg" alt="site perso image 1">
      </div>
      
      <div class="blocktexte">Mon premier portfolio que j'ai réalisé durant ma formation Simplon. Il présente mes différentes compétences ainsi que tous mes projets que j'ai réalisés à l'époque.</div>
      <div class="img">
        <img  src="../../../assets/image/ProjetArcturus1jpeg.jpeg" alt="Site perso image 2">
      </div>
      <div class="blocktexte">Il n'y a aucune spécification particulière sur ce projet. Il m'a pris moins d'un mois à réaliser.</div>
      <div class="blocktexte">Le saviez vous : Arcturus provient du nom d'une étoile rouge.</div> 
      <div class="img">
        <a href="https://portfoliopruvotfabian.000webhostapp.com/">
          <span>Voir le projet</span>
          <span>Voir le projet</span>
          <span>Voir le projet</span>
          <span>Voir le projet</span>
        </a>
      </div>
    </section>
    </section>