<section class="background img">
    <section class="backcolor">
      <div class="position-titre">
              <h1>Projet Site 2DO</h1>
      </div> 
      <div class="img">
        <img   src="../../../assets/image/Projet2DO 1.jpeg" alt="Site 2DO 1">
      </div>
      <div class="blocktexte">Tout premier site que j'ai réalisé avec la technologie Angular. Mon objectif était de faire un site pour listé les tâches à réaliser (Un peu comme Trello).</div>
      <div class="img">
        <img  src="../../../assets/image/Projet2DO 2.jpeg " alt="SIte 2DO 2">
      </div>
      <div class="blocktexte">Le projet est maintenant terminé, il m'a appris les bases d'angular ainsi que l'utilisation de firebase pour l'authentification et la base de données.</div>
      <div class="img">
          <a href="https://todo-7790e.firebaseapp.com/home" target=_blank>
            <span>Voir le projet</span>
            <span>Voir le projet</span>
            <span>Voir le projet</span>
            <span>Voir le projet</span>
          </a>
        </div>
      <div class="img">
          <div class="return" routerLink="../portfolio"> 
            <h1> Retour </h1> 
          </div>
      </div>
    </section>
    </section>