<section class="background img">
    <section class="backcolor">
      <div class="position-titre">
              <h1>Projet Site 2DO</h1>
      </div> 
      <div class="img">
        <img   src="../../../assets/image/Projet2DO 1.jpeg" alt="Site 2DO 1">
      </div>
      <div class="blocktexte">Tout premier site que j'ai réalisé avec la technologie Angular. Mon objectif était de faire un site pour listé les tâches à réaliser (Un peu comme Trello).</div>
      <div class="img">
        <img  src="../../../assets/image/Projet2DO 2.jpeg " alt="SIte 2DO 2">
      </div>
      <div class="blocktexte">Le projet est en cours d'amélioration et n'est donc pas encore finis, il m'a appris les bases d'angular ainsi que l'utilisation de firebase pour l'authentification et la base de données.</div>

    </section>
    </section>