<section class="background img">
    <section class="backcolor">
      <div class="position-titre">
              <h1>Projet Titano</h1>
      </div> 
      <div class="img">
        <img   src="../../../assets/image/ProjetTitano 1.jpeg" alt="Site Titano 1">
      </div>
      <div class="blocktexte">Projet colossale qui avait pour objectif premier de m'apprendre a utilisé JavaScipt, le projet avait pour vocation de réaliser un jeu type RPG donjon.</div>
      <div class="img">
        <img  src="../../../assets/image/ProjetTitano 2.jpeg" alt="SIte Titano 2">
      </div>
      <div class="blocktexte">Mais par soucis de temps, de moyen (Tout seul c'est pas le pied =( ) et de connaissance en JavaScipt le projet Titano à finalement été abandonnée.</div>
      <div class="img">
        <a href="https://github.com/Pruvotfabian/Projet-titano">
          <span>Voir le projet</span>
          <span>Voir le projet</span>
          <span>Voir le projet</span>
          <span>Voir le projet</span>
        </a>
      </div>
    </section>
    </section>