<section class="background">
  <div class="position-texte">
          <h2>PORTFOLIO</h2> 
  </div>
</section>
<div class="position-texte"></div>
<section class="backcolor">
  <div class="position-titre">
          <h1>Mes Réalisations</h1>
  </div> 
  <div class="block">    
          <div class="projets">
                  <div class="front">
                  <img src="../../assets/image/ProjetEmpire.jpeg" alt="">
                  </div>
                  <div class="back"><h1>Projet Empire</h1>
                          <h1>Projet Personnel</h1>
                          <button class="plus">+</button></div>
          </div>
          <div class="projets">
                  <img src="../../assets/image/ProjetSDLM.jpeg" alt="">
                  <div class="back"><h1>Projet Site de la Muertes</h1>
                          <h1>Projet Personnel</h1>
                          <button class="plus">+</button></div>
          </div>
          <div class="projets">
                  <img src="../../assets/image/ProjetTitano.jpeg" alt="">
                  <div class="back"><h1>Projet Titano</h1>
                          <h1>Projet Personnel</h1>
                          <button class="plus">+</button></div>
          </div>
  </div>
  <div class="block">
          <div class="projets">
                  <img src="../../assets/image/ProjetOsmose.jpeg" alt="">
                  <div class="back"><h1>Projet Osmose</h1>
                          <h1>Projet Professionnel</h1>
                          <button class="plus">+</button></div>
          </div>
          <div class="projets">
                  <img src="../../assets/image/ProjetSimplonCalais.jpeg" alt="">
                  <div class="back"><h1>Projet Simplon Calais</h1>
                          <h1>Projet Professionnel</h1>
                          <button class="plus">+</button></div>
          </div>
          <div class="projets">
                  <img src="../../assets/image/ProjetSimplonHdf.jpeg" alt="">
                  <div class="back"><h1>Projet Simplon Hdf</h1>
                          <h1>Projet Professionnel</h1>
                          <button class="plus">+</button></div>
          </div>
  </div>
  <div class="block">
          <div class="projets">
                  <img src="../../assets/image/Projet2DO.jpeg" alt="">
                  <div class="back"><h1>Projet 2Do</h1>
                          <h1>Projet Personnel</h1>
                          <button class="plus">+</button></div>
          </div>
          <div class="projets">
                  <img src="../../assets/image/ProjetArcturus.jpeg" alt="">
                  <div class="back"><h1>Projet Arcturus</h1>
                          <h1>Projet Personnel</h1>
                          <button class="plus">+</button></div>
          </div>
          
  </div>
</section>