<section class="background">
  <div class="position-texte">
          <h2>PORTFOLIO</h2> 
  </div>
</section>
<div class="position-texte"></div>
<section class="backcolor">
  <div class="position-titre">
          <h1>Mes Réalisations</h1>
  </div> 
  <div class="flex">
        <div class="blockC">
          <div class="projets">
                <img src="../../assets/image/ProjetEmpire.jpeg" alt="image projet Empire">
                  <div class="back" routerLink="../projet-empire">
                        <h1>Projet Personnel</h1>
                        <div class="plus" >
                                <h1>PROJET EMPIRE</h1>
                        </div>
                  </div>
          </div>
        </div>
        <div class="blockC">
          <div class="projets">
                  <img src="../../assets/image/ProjetSDLM.jpeg" alt="image projet SDLM">
                  <div class="back" routerLink="../projet-site-de-la-muerte">
                        <h1>Projet Personnel</h1>
                        <div class="plus">
                                <h1>SITE DE LA MUERTE</h1>
                        </div> 
                  </div>
          </div>
        </div>
        <div class="blockC">
          <div class="projets">
                  <img src="../../assets/image/ProjetTitano.jpeg" alt="image projet Titano">
                  <div class="back" routerLink="../projet-titano">
                        <h1>Projet Personnel</h1>
                        <div class="plus">
                                <h1>PROJET TITANO</h1>
                        </div> 
                </div>
          </div>
        </div>
        <div class="blockC">
          <div class="projets">
                  <img src="../../assets/image/ProjetOsmose.jpeg" alt="image projet OSMOSE">
                  <div class="back" routerLink="../projet-osmose">
                          <h1>Projet Professionnel</h1>
                          <div class="plus">
                                <h1>PROJET OSMOSE</h1>
                         </div>
                </div>
          </div>
        </div>
        <div class="blockC">
          <div class="projets">
                  <img src="../../assets/image/ProjetSimplonCalais.jpeg" alt="image projet Simplon Calais">
                  <div class="back" routerLink="../projet-simplon-calais">
                          <h1>Projet Professionnel</h1>
                          <div class="plus">
                                <h1>SIMPLON CALAIS</h1>
                          </div>
                  </div>
          </div>
        </div>
        <div class="blockC">
          <div class="projets">
                  <img src="../../assets/image/ProjetSimplonHdf.jpeg" alt="image simplon HDF">
                  <div class="back" routerLink="../projet-simplon-hdf">
                          <h1>Projet Professionnel</h1>
                          <div class="plus">
                                <h1>SIMPLON HDF</h1>
                          </div>
                  </div>
          </div>
        </div>
       
        <div class="blockC">
          <div class="projets">
                  <img src="../../assets/image/ProjetArcturus.jpeg" alt="image projet Arcturus">
                  <div class="back" routerLink="../projet-arcturus">
                          <h1>Projet Personnel</h1>
                          <div class="plus">
                                <h1>PROJET ARCTURUS</h1>
                          </div>
                  </div>
          </div>
        </div>
        <div class="blockC">
                <div class="projets">
                        <img src="../../assets/image/Projet2DO.jpeg" alt="image projet 2DO">
                                <div class="back" routerLink="../projet-2do">
                                                <h1>Projet Personnel</h1>
                                        <div class="plus">
                                                <h1>PROJET 2DO</h1>
                                        </div>
                                </div>
                </div>
        </div>

</div>
<div class="position-titre">
        <h1>Mes Projets en cours</h1>
</div>
<div class="flex">

        <div class="blockC">
                <div class="projets">
                        <img src="../../assets/image/ProjetEmpireV2.jpeg" alt="image projet EmpireV2">
                                <div class="back" routerLink="../projet-empireV2">
                                                <h1>Projet Personnel</h1>
                                        <div class="plus" >
                                                <h1>PROJET SIMPLONIS</h1>
                                        </div>
                                </div>
                </div>
        </div>
</div>
<div class="position-titre">
        <h1>Mes Projets Futurs</h1>
</div>
<div class="flex">
        <div class="blockC">
                <div class="projets">
                        <img src="../../assets/image/ProjetBlogBoster.jpeg" alt="image projet BlogBoster">
                        <div class="back" routerLink="../projet-blogboster">
                                        <h1>Projet Personnel</h1>
                                <div class="plus">
                                        <h1>PROJET BLOGBOSTER</h1>
                                </div>
                        </div>
                </div>
        </div>
        <div class="blockC">
                <div class="projets">
                        <img src="../../assets/image/ProjetHarbinger.jpeg" alt="image projet Turtle">
                        <div class="back" routerLink="../projet-harbinger">
                                        <h1>Projet Personnel</h1>
                                <div class="plus">
                                        <h1>PROJET HARBINGER</h1>
                                </div>
                        </div>
                </div>
        </div>
       
        <div class="blockC">
                <div class="projets">
                        <img src="../../assets/image/ProjetPizza.jpeg" alt="image projet Turtle">
                        <div class="back" routerLink="../projet-turtle">
                                        <h1>Projet Personnel</h1>
                                <div class="plus">
                                        <h1>PROJET TURTLE</h1>
                                </div>
                        </div>
                </div>
        </div>
        <div class="blockC">
                <div class="projets">
                        <img src="../../assets/image/ProjetEmpire2.jpeg" alt="image projet Stygeon">
                        <div class="back" routerLink="../projet-stygeon">
                                        <h1>Projet Personnel</h1>
                                <div class="plus">
                                        <h1>PROJET STYGEON</h1>
                                </div>
                        </div>
                </div>
        </div>
</div>
</section>
