<section class="background img">
  <section class="backcolor">
    <div class="position-titre">
            <h1>Projet Harbinger</h1>
    </div> 
    
    <div class="blocktexte">Projet non commencé,Story Telling "Suite" d'une grande trilogie du jeux video, réalisation probable sous  angularV7 </div>

    <div class="blocktexte">Début probable du projet Septembre 2019.

    </div>

    <div class="img">
        <div class="return" routerLink="../portfolio"> 
          <h1> Retour </h1> 
        </div>
    </div>
  </section>
  </section>
