<section class="backcolor">
  <div class="position-titre">
          <h1>Mentions Légales</h1>
       
         </div> 
         <div class="mention"> 
          <p class="titre">Quelles informations nous recueillons à votre sujet</p>
          <p class="texte">Nous recueillons des informations vous concernant lorsque vous nous les fournissez, lorsque vous utilisez nos Services.</p>
              
          <p class="titre"> Informations que vous nous fournissez.</p>  
          <p class="texte">Nous recueillons des informations vous concernant lorsque vous les entrez dans les Services.</p>

          <p class="titre"> Informations du formulaire de contact.</p>
          <p class="texte"> Nous recueillons vos informations (Nom, Email et Message) vous concernant lorsque vous les entrez dans ce service.</p>
  
          <p class="titre">Comment nous utilisons les informations que nous recueillons.</p>
          <p class="texte"> La manière dont nous utilisons les informations que nous collectons dépend en partie des services que vous utilisez, de la manière dont vous les utilisez que vous nous avez communiquées.</p>
          <p class="texte"> Toutes vos informations personnel, ne seront jamais partagés à d'autre intermédiaire que ce soit et auront pour unique objectif de me contacter.</p>
  
          <p class="titre">Combien de temps gardons-nous les informations ?</p>
          <p class="texte">Cela dépend du caractére de l'informations.</p>
          <p class="texte">Message: Suppresion au bout 1 mois</p>
          <p class="texte">Email: Suppresion au bout 1 mois</p>
          <p class="texte">Nom: Suppresion au bout 1 mois</p>
          <p class="texte">Si vous voulez que vos informations soient supprimées dans un délai plus court, contacter l'administrateur du site.</p>

          <p class="titre">Me Contacter</p>
          <p class="texte">pruvotfabian@gmail.com</p>
          <p class="texte">06.05.09.31.00</p>
        </div>
</section>