<section class="background img">
    <section class="backcolor">
      <div class="position-titre">
              <h1>Projet Simplon HDF</h1>
      </div> 
      <div class="img">
        <img   src="../../../assets/image/ProjetSimplonhdf1.jpeg" alt="Site Simplon HDF 1">
      </div>
      <div class="blocktexte">L'un des projets que j'ai réalisé durant mon stage de fin de formation, j'ai procédé à une refonte du site déjà existant (meilleure UX et meilleure ergonomie). </div>
      <div class="img">
        <img  src="../../../assets/image/ProjetSimplonhdf2.jpeg" alt="SIte Simplon HDF 2">
      </div>
      <div class="blocktexte"></div>
      <div class="img">
        <a href="https://simplon.co/hauts-de-france/" target=_blank>
          <span>Voir le projet</span>
          <span>Voir le projet</span>
          <span>Voir le projet</span>
          <span>Voir le projet</span>
        </a>
      </div>
      <div class="img">
          <div class="return" routerLink="../portfolio"> 
            <h1> Retour </h1> 
          </div>
      </div>
    </section>
    </section>