<img class="poster" src="../../../assets/image/fondBlogBoster.jpeg" alt="">
<section class="background img">
  <section class="backcolor">
    <div class="position-titre">
            <h1>Projet Blogboster</h1>
    </div> 
    
    <div class="blocktexte">Objectif : créer un forum sous angularV7 en utilisant NodeJS</div>

    <div class="blocktexte">Projet débuté le 27 mai 2019

    </div>
    <div class="position-titre">
      <h1>Maquette</h1>
    </div> 
    <div class="concept">
      <img  src="../../../assets/image/projet blogboster.jpeg" alt="">
      <img  src="../../../assets/image/projet blogboster-connxion.jpeg" alt="">
      <img  src="../../../assets/image/projet blogboster-compte.jpeg" alt="">
    </div>
    <div class="img">
        <div class="return" routerLink="../portfolio"> 
          <h1> Retour </h1> 
        </div>
    </div>
  </section>
  </section>