.background{
    position: fixed;
    background-color: #101214;
    background-image: url('../../assets/image/fond2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.position-texte{
    text-align: center;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 6em;
    color: #fff;
}
.position-titre{
    margin-bottom: 5%;
    text-align: center;
    width: 100%;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: #fff;
}
.backcolor{
    position: relative;
    background-color: #101214;
}
.remplissage{
    height: 70vh;
}
.block{
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
}
.blocktexte{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3em;
    margin: 3%;
}
.blocktexte p{
    padding-top: 3%;
}
.btn{
    font-family: 'Montserrat', sans-serif;
    height: 5vh;
    background-color: #101214;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin-top: 3%;
    width: 25vh;
    border-radius: 15px 15px 15px 15px;
    transition: 0.5s;
}
.btn:hover{
    background: #fff;
    color: #101214;
    border: 2px solid #101214;
    transition: 0.5s;
}
.blockimg{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blockimg img{
    margin-top: 2%;
    margin-bottom: 2%;
}
.competence{
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.flex{
    text-align: center;
    
}
.containe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 260px;
}
.blockC{
    display: inline-block;
    margin-bottom: 10%;
}

.containe img{
    height: 130px;
}
.plus{
    margin-top: 5%;
    background: #383838;
    color: #fff;
    border:none;
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    font-size: 1.6em;
    cursor: pointer;
    transition: 0.5s;
}
.plus:hover{
    background: rgba(68, 68, 68, 0.30);
    transition: 0.5s;
}

@media screen and
(max-width: 720px){
    h1{
        font-size: 1em;
    }
    h2{
        font-size: 1em;
    }
    .blockimg{
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
        flex-direction: column;

    }
}
