<section class="background">
  <div class="position-texte">
      <h2>A PROPOS</h2>
  </div>
</section>
<div class="position-texte"></div>
<section class="backcolor">
  <div class="block">
      <div class="blockimg">
              <img class="img" src="../../assets/image/tete.jpeg" alt="Ma photo">
              <div class="blocktexte">
                <p>Bienvenue à vous cher visiteur !</p>
            
                  <p>Pour commencer j’ai réalisé un bac STMG (Science Technologique du Management et de la Gestion)</p>
                  
                  <p> Par la suite j’ai enchaîné avec un BTS CG (Comptabilité Gestion). Dans le cadre de ce BTS j’ai réalisé un stage de 10 semaines en entreprise. Après avoir réalisé mon stage j’ai obtenu mon BTS. N’hésitez pas à aller regarder Mon CV.
                  
                  Après la formation Simplon, je compte chercher un travail dans le domaine du web idéalement développeur web.</p>
              <button class="btn" href="../../assets/image/CV V3.pdf" title="Mon CV">Mon CV.pdf</button>
              </div>
        
        </div>
   

  </div>
  <div class="position-titre">
      <h1>Mes Compétences</h1>
  </div>
  <div class="flex">
        <div class="blockC" >
                <div class="containe">
                        <img src="../../assets/image/Opquast.png" alt="Opquast">
                        <button class="plus"><a href="https://directory.opquast.com/fr/certificat/7EC5IA/" title="www.Opquast.com">+</a></button>
                </div>
        </div>

        <div class="blockC" >
      <div class="containe">
              <img src="../../assets/image/JS.png" alt="JS">
              <button class="plus"><a href="../../assets/image/Certification Javascript.pdf">+</a></button>
      </div>
</div>

<div class="blockC" >
      <div class="containe">
              <img src="../../assets/image/wordpress.png" alt="WordPress">
              
      </div>
</div>

<div class="blockC" >
      <div class="containe">
              <img src="../../assets/image/Gravit design.png" alt="GravitDesign">
              <button class="plus"><a href="https://www.designer.io/" title="www.Designer.io">+</a></button>
      </div>
</div>

<div class="blockC" >
          <div class="containe">
                  <img src="../../assets/image/HTML.png" alt="HTML">
                  <button class="plus"><a href="../../assets/image/Certification HTML CSS.pdf">+</a></button>
          </div>
        </div>


<div class="blockC" >
          <div class="containe">
                  <img src="../../assets/image/Github.png" alt="Github">
                  
          </div>
        </div>


<div class="blockC" >
          <div class="containe">
                  <img src="../../assets/image/CSS.png" alt="CSS">
                  <button class="plus"><a href="../../assets/image/Certification HTML CSS.pdf">+</a></button>
          </div>
        </div>

        <div class="blockC" >
          <div class="containe">
                  <img src="../../assets/image/Design.png" alt="Scrum">
                  <button class="plus"><a href="../../assets/image/certification Scrum.pdf">+</a></button>
          </div>
        </div>

        <div class="blockC" >
          <div class="containe">
                  <img src="../../assets/image/Angular.png" alt="Angular">
                  
          </div>
        </div>

<div class="blockC" >
          <div class="containe">
                  <img src="../../assets/image/linux.png" alt="Linux">
                  
          </div>
        </div>

        <div class="blockC" >
          <div class="containe">
                  <img src="../../assets/image/jquery.png" alt="Jquery">
                  
          </div>
        </div>

</div>
<div class="position-titre">
        <h1>Mes hobbies</h1>
    </div>
    <div class="flex">
        <div class="blockC" >
                <div class="containe">
                        <img src="../../assets/image/game.png" alt="Jeux Video">
                        <h2>Jeux Video</h2>
                </div>
        </div>

        <div class="blockC" >
      <div class="containe">
              <img src="../../assets/image/music.png" alt="Musique">
              <h2>Musique</h2>
      </div>
</div>

<div class="blockC" >
      <div class="containe">
              <img src="../../assets/image/science.png" alt="Science">
              <h2>Science</h2>
      </div>
</div>
<div class="blockC" >
        <div class="containe">
                <img src="../../assets/image/NewTech.png" alt="NewTechnologie">
                <h2>Nouvelle technilogie</h2>
        </div>
  </div>
</div>

</section>