<section class="background img">
<section class="backcolor">
  <div class="position-titre">
          <h1>Projets Empire</h1>
  </div> 
  <div class="img">
    <img   src="../../../assets/image/ProjetEmpire1.png" alt="">
  </div>
  
  <div class="blocktexte">L'un des premiers plus gros projet que j'ai réalisé lors de ma formation à Simplon l'exercice était de créer une story teller en utilisant exclusivement JavaScript, l'objectif était d'avoir deux fins différentes en fonction de nos choix, mais voulant aller beaucoup plus loin j'ai décidé d'avoir plus que deux fins (J'ai fini avec 28 fins ... Oui je sais, j'ai abusé :p ).</div>
  <div class="img">
    <img  src="../../../assets/image/Projetempire2.png" alt="">
  </div>
  <div class="blocktexte">Il m'a fallu plus d'un mois de travail et pas loin de 15 000 lignes de code JavaScript pour réaliser ce projet, mais je ne compte pas m'arrêter la ! La version 2 va être bientôt lancé elle sera plus optimisée et les choix seront améliorés. </div>

  <div class="img">
    <a href="https://github.com/Pruvotfabian/JS-JEU-BETA-test">
      <span>Voir le projet</span>
      <span>Voir le projet</span>
      <span>Voir le projet</span>
      <span>Voir le projet</span>
    </a>
  </div>
</section>
</section>