/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    
}
.chargement{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #101214;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-size: 3em;
}
