<img class="poster" src="../../../assets/image/fondSimplonis.jpeg" alt="">
<section class="background img">

  <section class="backcolor">
    <div class="position-titre">
            <h1>Projet Empire V.2</h1>
    </div> 
    
    <div class="blocktexte">Projet en cours de réalisation. Il a pour objectif une réadaptation de mon story teller que j'ai crée durant la formation.</div>

    <div class="blocktexte">Le jeux intégreras une nouvelle histoire totalement refaite, un système de sauvegarde de partie, une roue de choix ( pas par boite de dialogue comme dans la version 1 ). Un système de gameplay type TPS avec surchauffe, couverture et choix stratégique
      , toutes les images seront faites à la main.
      
    </div>


    <div class="concept">
    <a href="../../assets/image/concept art.jpg" target=_blank><img   src="../../../assets/image/concept art.jpg" alt="affiche projet Simplonis"></a>
  </div>
  <div class="blocktexte">
      Le projet a débuté le 25 mars 2019.
      
      Probabilité de fin de projet Août 2019 ( peu probable ).
  </div>
    <div class="img">
      <a href="https://lachutedusimplonis.firebaseapp.com" target=_blank>
        <span>Voir la demo</span>
        <span>Voir la demo</span>
        <span>Voir la demo</span>
        <span>Voir la demo</span>
      </a>
    </div>
  
    <div class="img">
        <div class="return" routerLink="../portfolio"> 
          <h1> Retour </h1> 
        </div>
    </div>
  </section>
  </section>
