
.div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.position-img{
    margin-top: 5vh;
}
.width{
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.position-texte{
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    flex-direction: column;
    width: 50%;
    color: #fff;

}
.background{
    background-color: #101214;
    background-image: url('../../assets/image/fond.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.button{
    font-size: 1.5em;
    margin: 50px;
    border: none;
    font-family: 'Anton', sans-serif;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    height: 12vh;
    width: 55%;
    border-radius: 35% 0% 35% 0%;
    transition: 0.6s;
}
.button:hover{
    background: #fff;
    color: #101214;
    transition: 0.6s;
}
@media screen and
(max-width: 800px){
    .position-img img{
        height: 50vh;
    }
    .position-texte h1{
        text-align: center;
    }
    .position-texte{
        width: 70%;
    }
    .position-texte h2{
        text-align: center;
    }
    .button{
        height: auto;
        width: 100%;
    }
}
@media screen and
(max-width: 400px){
    .position-texte{
        width: 90%;
    }
    .position-img img{
        height: 43vh;
    }
}